@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black-800;
  @apply text-black-200;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.noscroll::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Loading.tsx */

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 40px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 10px;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 18px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 32px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 4px;
    height: 32px;
  }
  50%,
  100% {
    top: 12px;
    height: 16px;
  }
}
