// Variables
// --------------------------

$cw-font-path: "." !default;
$cw-font-size: 16px !default;
$cw-prefix: sym !default;

// Convenience function used to set content property
@function esc($cw-sym) {
  @return unquote('"#{ $cw-sym }"');
}
// Keep defaults at the top so we can apply
// that class to everything in cases
// where no slugs match.
$beacons: (
  sym-default: \f002,
  sym-default-s: \e002,
  sym-o: \f004,
  sym-o-s: \e004,
  sym-c: \f005,
  sym-c-s: \e005,
  sym-d: \f002,
  sym-d-s: \e002,
  sym-1st: \f31c,
  sym-1st-s: \e31c,
  sym-aac: \f4bf,
  sym-aac-s: \e4bf,
  sym-abbc: \f3e1,
  sym-abbc-s: \e3e1,
  sym-abt: \f3e2,
  sym-abt-s: \e3e2,
  sym-abyss: \f31d,
  sym-abyss-s: \e31d,
  sym-acat: \f31e,
  sym-acat-s: \e31e,
  sym-act: \f0d4,
  sym-act-s: \e0d4,
  sym-ada: \f010,
  sym-ada-s: \e010,
  sym-adel: \f4f5,
  sym-adel-s: \e4f5,
  sym-adh: \f389,
  sym-adh-s: \e389,
  sym-adm: \f3e3,
  sym-adm-s: \e3e3,
  sym-adt: \f371,
  sym-adt-s: \e371,
  sym-adx: \f096,
  sym-adx-s: \e096,
  sym-ae: \f0d5,
  sym-ae-s: \e0d5,
  sym-aeon: \f0b8,
  sym-aeon-s: \e0b8,
  sym-aergo: \f425,
  sym-aergo-s: \e425,
  sym-agi: \f097,
  sym-agi-s: \e097,
  sym-akro: \f4a1,
  sym-akro-s: \e4a1,
  sym-aid: \f426,
  sym-aid-s: \e426,
  sym-aion: \f08c,
  sym-aion-s: \e08c,
  sym-algo: \f472,
  sym-algo-s: \e472,
  sym-amb: \f0d6,
  sym-amb-s: \e0d6,
  sym-amlt: \f3e4,
  sym-amlt-s: \e3e4,
  sym-amp: \f011,
  sym-amp-s: \e011,
  sym-ampl: \f4d5,
  sym-ampl-s: \e4d5,
  sym-anct: \f21a,
  sym-anct-s: \e21a,
  sym-ankr: \f427,
  sym-ankr-s: \e427,
  sym-ant: \f089,
  sym-ant-s: \e089,
  sym-apis: \f3b2,
  sym-apis-s: \e3b2,
  sym-appc: \f0d7,
  sym-appc-s: \e0d7,
  sym-ar: \f4d8,
  sym-ar-s: \e4d8,
  sym-ardr: \f012,
  sym-ardr-s: \e012,
  sym-ark: \f013,
  sym-ark-s: \e013,
  sym-arn: \f0d8,
  sym-arn-s: \e0d8,
  sym-arpa: \f4a9,
  sym-arpa-s: \e4a9,
  sym-art: \f31f,
  sym-art-s: \e31f,
  sym-aspt: \f4f6,
  sym-aspt-s: \e4f6,
  sym-ast: \f0d9,
  sym-ast-s: \e0d9,
  sym-at: \f463,
  sym-at-s: \e463,
  sym-atom: \f3e5,
  sym-atom-s: \e3e5,
  sym-atm: \f0da,
  sym-atm-s: \e0da,
  sym-atp: \f4a7,
  sym-atp-s: \e4a7,
  sym-aud: \f204,
  sym-aud-s: \e204,
  sym-auto: \f0db,
  sym-auto-s: \e0db,
  sym-avt: \f014,
  sym-avt-s: \e014,
  sym-axp: \f320,
  sym-axp-s: \e320,
  sym-b: \e000,
  sym-b2g: \f3e6,
  sym-b2g-s: \e3e6,
  sym-bab: \f3a6,
  sym-bab-s: \e3a6,
  sym-bal: \f4e4,
  sym-bal-s: \e4e4,
  sym-banca: \f321,
  sym-banca-s: \e321,
  sym-band: \f4af,
  sym-band-s: \e4af,
  sym-bat: \f015,
  sym-bat-s: \e015,
  sym-bay: \f094,
  sym-bay-s: \e094,
  sym-bbc: \f3e7,
  sym-bbc-s: \e3e7,
  sym-bcc: \f016,
  sym-bcc-s: \e016,
  sym-bcd: \f0dc,
  sym-bcd-s: \e0dc,
  sym-bch: \f017,
  sym-bch-s: \e017,
  sym-bci: \f322,
  sym-bci-s: \e322,
  sym-bcn: \f018,
  sym-bcn-s: \e018,
  sym-bcpt: \f0b3,
  sym-bcpt-s: \e0b3,
  sym-bcu: \f3a5,
  sym-bcu-s: \e3a5,
  sym-bcv: \f3b3,
  sym-bcv-s: \e3b3,
  sym-bcy: \f019,
  sym-bcy-s: \e019,
  sym-bdg: \f372,
  sym-bdg-s: \e372,
  sym-beam: \f428,
  sym-beam-s: \e428,
  sym-beet: \f429,
  sym-beet-s: \e429,
  sym-bela: \f01a,
  sym-bela-s: \e01a,
  sym-berry: \f373,
  sym-berry-s: \e373,
  sym-betr: \f323,
  sym-betr-s: \e323,
  sym-bez: \f374,
  sym-bez-s: \e374,
  sym-bft: \f0a7,
  sym-bft-s: \e0a7,
  sym-bfx: \f3a4,
  sym-bfx-s: \e3a4,
  sym-bhd: \f4c3,
  sym-bhd-s: \e4c3,
  sym-bht: \f47e,
  sym-bht-s: \e47e,
  sym-bitb: \f0c5,
  sym-bitb-s: \e0c5,
  sym-bix: \f3e8,
  sym-bix-s: \e3e8,
  sym-bkx: \f375,
  sym-bkx-s: \e375,
  sym-blk: \f01b,
  sym-blk-s: \e01b,
  sym-block: \f01c,
  sym-block-s: \e01c,
  sym-blt: \f0b5,
  sym-blt-s: \e0b5,
  sym-blz: \f0dd,
  sym-blz-s: \e0dd,
  sym-bmc: \f324,
  sym-bmc-s: \e324,
  sym-bnb: \f0de,
  sym-bnb-s: \e0de,
  sym-bnk: \f47f,
  sym-bnk-s: \e47f,
  sym-bnt: \f01d,
  sym-bnt-s: \e01d,
  sym-bora: \f4ab,
  sym-bora-s: \e4ab,
  sym-bos: \f0df,
  sym-bos-s: \e0df,
  sym-box: \f3b4,
  sym-box-s: \e3b4,
  sym-brd: \f325,
  sym-brd-s: \e325,
  sym-brick: \f4f2,
  sym-brick-s: \e4f2,
  sym-bsd: \f0c9,
  sym-bsd-s: \e0c9,
  sym-bsv: \f3a7,
  sym-bsv-s: \e3a7,
  sym-bt1: \f3a2,
  sym-bt1-s: \e3a2,
  sym-bt2: \f3a3,
  sym-bt2-s: \e3a3,
  sym-btc: \f01e,
  sym-btc-s: \e01e,
  sym-btcd: \f01f,
  sym-btcd-s: \e01f,
  sym-btcp: \f0e0,
  sym-btcp-s: \e0e0,
  sym-btcfx: \f020,
  sym-btcfx-s: \e020,
  sym-btg: \f0a1,
  sym-btg-s: \e0a1,
  sym-btm: \f022,
  sym-btm-s: \e022,
  sym-btn: \f3b5,
  sym-btn-s: \e3b5,
  sym-bto: \f3b6,
  sym-bto-s: \e3b6,
  sym-bts: \f023,
  sym-bts-s: \e023,
  sym-btt: \f3e9,
  sym-btt-s: \e3e9,
  sym-btu: \f3ea,
  sym-btu-s: \e3ea,
  sym-btx: \f0e1,
  sym-btx-s: \e0e1,
  sym-busd: \f21c,
  sym-busd-s: \e21c,
  sym-burst: \f024,
  sym-burst-s: \e024,
  sym-bwx: \f42a,
  sym-bwx-s: \e42a,
  sym-bz: \f119,
  sym-bz-s: \e119,
  sym-bzrx: \f4e0,
  sym-bzrx-s: \e4e0,
  sym-c20: \f326,
  sym-c20-s: \e326,
  sym-cad: \f207,
  sym-cad-s: \e207,
  sym-cas: \f327,
  sym-cas-s: \e327,
  sym-cat: \f377,
  sym-cat-s: \e377,
  sym-cbc: \f376,
  sym-cbc-s: \e376,
  sym-cbt: \f328,
  sym-cbt-s: \e328,
  sym-cdt: \f0e2,
  sym-cdt-s: \e0e2,
  sym-cel: \f4cb,
  sym-cel-s: \e4cb,
  sym-celo: \f4e7,
  sym-celo-s: \e4e7,
  sym-celr: \f42b,
  sym-celr-s: \e42b,
  sym-cennz: \f329,
  sym-cennz-s: \e329,
  sym-cfi: \f08d,
  sym-cfi-s: \e08d,
  sym-chat: \f42c,
  sym-chat-s: \e42c,
  sym-chf: \f21b,
  sym-chf-s: \e21b,
  sym-chp: \f32a,
  sym-chp-s: \e32a,
  sym-chr: \f4bc,
  sym-chr-s: \e4bc,
  sym-chsb: \f32b,
  sym-chsb-s: \e32b,
  sym-chx: \f3eb,
  sym-chx-s: \e3eb,
  sym-chz: \f480,
  sym-chz-s: \e480,
  sym-clam: \f025,
  sym-clam-s: \e025,
  sym-cln: \f378,
  sym-cln-s: \e378,
  sym-clo: \f3ec,
  sym-clo-s: \e3ec,
  sym-cloak: \f095,
  sym-cloak-s: \e095,
  sym-ckb: \f4cd,
  sym-ckb-s: \e4cd,
  sym-cmct: \f32c,
  sym-cmct-s: \e32c,
  sym-cmt: \f0e3,
  sym-cmt-s: \e0e3,
  sym-cnd: \f0e4,
  sym-cnd-s: \e0e4,
  sym-cnn: \f3b8,
  sym-cnn-s: \e3b8,
  sym-cnx: \f0e5,
  sym-cnx-s: \e0e5,
  sym-cny: \f209,
  sym-cny-s: \e209,
  sym-cocos: \f481,
  sym-cocos-s: \e481,
  sym-comp: \f4d1,
  sym-comp-s: \e4d1,
  sym-cos: \f482,
  sym-cos-s: \e482,
  sym-cosm: \f3ed,
  sym-cosm-s: \e3ed,
  sym-coss: \f32d,
  sym-coss-s: \e32d,
  sym-coti: \f4c8,
  sym-coti-s: \e4c8,
  sym-cov: \f32e,
  sym-cov-s: \e32e,
  sym-cova: \f42d,
  sym-cova-s: \e42d,
  sym-cpt: \f32f,
  sym-cpt-s: \e32f,
  sym-cpx: \f3b9,
  sym-cpx-s: \e3b9,
  sym-cre: \f483,
  sym-cre-s: \e483,
  sym-cro: \f3ee,
  sym-cro-s: \e3ee,
  sym-crpt: \f0e6,
  sym-crpt-s: \e0e6,
  sym-crv: \f4de,
  sym-crv-s: \e4de,
  sym-crw: \f0cc,
  sym-crw-s: \e0cc,
  sym-cs: \f42d,
  sym-cs-s: \e42d,
  sym-ctc: \f4ca,
  sym-ctc-s: \e4ca,
  sym-ctsi: \f4c2,
  sym-ctsi-s: \e4c2,
  sym-ctxc: \f3ac,
  sym-ctxc-s: \e3ac,
  sym-cvc: \f026,
  sym-cvc-s: \e026,
  sym-cvcoin: \f384,
  sym-cvcoin-s: \e384,
  sym-cvnt: \f3ef,
  sym-cvnt-s: \e3ef,
  sym-cvt: \f379,
  sym-cvt-s: \e379,
  sym-cw: \f3a9,
  sym-cw-s: \e3a9,
  sym-dac: \f3f0,
  sym-dac-s: \e3f0,
  sym-dacs: \f3f1,
  sym-dacs-s: \e3f1,
  sym-dadi: \f330,
  sym-dadi-s: \e330,
  sym-dag: \f473,
  sym-dag-s: \e473,
  sym-dai: \f0af,
  sym-dai-s: \e0af,
  sym-dao: \f386,
  sym-dao-s: \e386,
  sym-dash: \f027,
  sym-dash-s: \e027,
  sym-dat: \f087,
  sym-dat-s: \e087,
  sym-data: \f08B,
  sym-data-s: \e08B,
  sym-datx: \f331,
  sym-datx-s: \e331,
  sym-dbc: \f42f,
  sym-dbc-s: \e42f,
  sym-dbet: \f332,
  sym-dbet-s: \e332,
  sym-dbix: \f333,
  sym-dbix-s: \e333,
  sym-dcn: \f0e7,
  sym-dcn-s: \e0e7,
  sym-dcr: \f028,
  sym-dcr-s: \e028,
  sym-dct: \f0ba,
  sym-dct-s: \e0ba,
  sym-ddd: \f430,
  sym-ddd-s: \e430,
  sym-dent: \f0e8,
  sym-dent-s: \e0e8,
  sym-dgb: \f029,
  sym-dgb-s: \e029,
  sym-dgd: \f0e9,
  sym-dgd-s: \e0e9,
  sym-dgtx: \f3f2,
  sym-dgtx-s: \e3f2,
  sym-dgx: \f3ba,
  sym-dgx-s: \e3ba,
  sym-dice: \f334,
  sym-dice-s: \e334,
  sym-dim: \f335,
  sym-dim-s: \e335,
  sym-dlt: \f0ea,
  sym-dlt-s: \e0ea,
  sym-dmd: \f0c7,
  sym-dmd-s: \e0c7,
  sym-dmt: \f0c1,
  sym-dmt-s: \e0c1,
  sym-dnt: \f0a4,
  sym-dnt-s: \e0a4,
  sym-dock: \f3bb,
  sym-dock-s: \e3bb,
  sym-doge: \f02a,
  sym-doge-s: \e02a,
  sym-dot: \f4be,
  sym-dot-s: \e4be,
  sym-dpy: \f431,
  sym-dpy-s: \e431,
  sym-drep: \f4ba,
  sym-drep-s: \e4ba,
  sym-dream: \f4ad,
  sym-dream-s: \e4ad,
  sym-drg: \f484,
  sym-drg-s: \e484,
  sym-drgn: \f3ab,
  sym-drgn-s: \e3ab,
  sym-drt: \f37a,
  sym-drt-s: \e37a,
  sym-dta: \f385,
  sym-dta-s: \e385,
  sym-dtb: \f0cd,
  sym-dtb-s: \e0cd,
  sym-dtr: \f3f3,
  sym-dtr-s: \e3f3,
  sym-dusk: \f485,
  sym-dusk-s: \e485,
  sym-dx: \f432,
  sym-dx-s: \e432,
  sym-dyn: \f37b,
  sym-dyn-s: \e37b,
  sym-ecom: \f3bc,
  sym-ecom-s: \e3bc,
  sym-edc: \f433,
  sym-edc-s: \e433,
  sym-edg: \f02b,
  sym-edg-s: \e02b,
  sym-edo: \f02c,
  sym-edo-s: \e02c,
  sym-edr: \f3ae,
  sym-edr-s: \e3ae,
  sym-egld: \f4ea,
  sym-egld-s: \e4ea,
  sym-egt: \f486,
  sym-egt-s: \e486,
  sym-eko: \f336,
  sym-eko-s: \e336,
  sym-ekt: \f3bd,
  sym-ekt-s: \e3bd,
  sym-ela: \f3be,
  sym-ela-s: \e3be,
  sym-elec: \f337,
  sym-elec-s: \e337,
  sym-elf: \f02d,
  sym-elf-s: \e02d,
  sym-em: \f4b3,
  sym-em-s: \e4b3,
  sym-emc: \f02e,
  sym-emc-s: \e02e,
  sym-emc2: \f02f,
  sym-emc2-s: \e02f,
  sym-eng: \f030,
  sym-eng-s: \e030,
  sym-enj: \f0eb,
  sym-enj-s: \e0eb,
  sym-eos: \f031,
  sym-eos-s: \e031,
  sym-eosdac: \f434,
  sym-eosdac-s: \e434,
  sym-erd: \f487,
  sym-erd-s: \e487,
  sym-etc: \f032,
  sym-etc-s: \e032,
  sym-eth: \f033,
  sym-eth-s: \e033,
  sym-etn: \f3b0,
  sym-etn-s: \e3b0,
  sym-etp: \f034,
  sym-etp-s: \e034,
  sym-eur: \f035,
  sym-eur-s: \e035,
  sym-eurs: \f3f4,
  sym-eurs-s: \e3f4,
  sym-eurt: \f074,
  sym-eurt-s: \e074,
  sym-evn: \f338,
  sym-evn-s: \e338,
  sym-evx: \f0ec,
  sym-evx-s: \e0ec,
  sym-ewt: \f4e8,
  sym-ewt-s: \e4e8,
  sym-exp: \f036,
  sym-exp-s: \e036,
  sym-exy: \f435,
  sym-exy-s: \e435,
  sym-fair: \f3f5,
  sym-fair-s: \e3f5,
  sym-fct: \f037,
  sym-fct-s: \e037,
  sym-fdz: \f339,
  sym-fdz-s: \e339,
  sym-fee: \f101,
  sym-fee-s: \e101,
  sym-fet: \f436,
  sym-fet-s: \e436,
  sym-fil: \f4d6,
  sym-fil-s: \e4d6,
  sym-fldc: \f038,
  sym-fldc-s: \e038,
  sym-flo: \f039,
  sym-flo-s: \e039,
  sym-flow: \f4f4,
  sym-flow-s: \e4f4,
  sym-fluz: \f3f6,
  sym-fluz-s: \e3f6,
  sym-fnb: \f4b4,
  sym-fnb-s: \e4b4,
  sym-foam: \f3bf,
  sym-foam-s: \e3bf,
  sym-for: \f488,
  sym-for-s: \e488,
  sym-fota: \f33a,
  sym-fota-s: \e33a,
  sym-fsn: \f0ed,
  sym-fsn-s: \e0ed,
  sym-ftc: \f090,
  sym-ftc-s: \e090,
  sym-fti: \f465,
  sym-fti-s: \e465,
  sym-ftm: \f464,
  sym-ftm-s: \e464,
  sym-ftt: \f4a2,
  sym-ftt-s: \e4a2,
  sym-ftx: \f437,
  sym-ftx-s: \e437,
  sym-fuel: \f0ee,
  sym-fuel-s: \e0ee,
  sym-fun: \f03a,
  sym-fun-s: \e03a,
  sym-fx: \f466,
  sym-fx-s: \e466,
  sym-fxc: \f489,
  sym-fxc-s: \e489,
  sym-fxt: \f33b,
  sym-fxt-s: \e33b,
  sym-game: \f03b,
  sym-game-s: \e03b,
  sym-gard: \f438,
  sym-gard-s: \e438,
  sym-gas: \f03c,
  sym-gas-s: \e03c,
  sym-gbc: \f3c0,
  sym-gbc-s: \e3c0,
  sym-gbp: \f206,
  sym-gbp-s: \e206,
  sym-gbyte: \f03d,
  sym-gbyte-s: \e03d,
  sym-gbx: \f399,
  sym-gbx-s: \e399,
  sym-gcc: \f439,
  sym-gcc-s: \e439,
  sym-gen: \f3c1,
  sym-gen-s: \e3c1,
  sym-get: \f3f7,
  sym-get-s: \e3f7,
  sym-glc: \f43a,
  sym-glc-s: \e43a,
  sym-gld: \f3c2,
  sym-gld-s: \e3c2,
  sym-gmat: \f48a,
  sym-gmat-s: \e48a,
  sym-gno: \f03e,
  sym-gno-s: \e03e,
  sym-gnt: \f03f,
  sym-gnt-s: \e03f,
  sym-gnx: \f33c,
  sym-gnx-s: \e33c,
  sym-go: \f3c3,
  sym-go-s: \e3c3,
  sym-got: \f3f8,
  sym-got-s: \e3f8,
  sym-grc: \f040,
  sym-grc-s: \e040,
  sym-grin: \f3f9,
  sym-grin-s: \e3f9,
  sym-grs: \f093,
  sym-grs-s: \e093,
  sym-gsc: \f43b,
  sym-gsc-s: \e43b,
  sym-gt: \f4a3,
  sym-gt-s: \e4a3,
  sym-gtc: \f3fa,
  sym-gtc-s: \e3fa,
  sym-gto: \f0d1,
  sym-gto-s: \e0d1,
  sym-gup: \f0bd,
  sym-gup-s: \e0bd,
  sym-gusd: \f10c,
  sym-gusd-s: \e10c,
  sym-gvt: \f0ef,
  sym-gvt-s: \e0ef,
  sym-gxc: \f3fb,
  sym-gxc-s: \e3fb,
  sym-gxs: \f0f0,
  sym-gxs-s: \e0f0,
  sym-hbar: \f4a6,
  sym-hbar-s: \e4a6,
  sym-hc: \f3a0,
  sym-hc-s: \e3a0,
  sym-hedg: \f48b,
  sym-hedg-s: \e48b,
  sym-hex: \f4e6,
  sym-hex-s: \e4e6,
  sym-hive: \f4b9,
  sym-hive-s: \e4b9,
  sym-hkd: \f20b,
  sym-hkd-s: \e20b,
  sym-hot: \f39b,
  sym-hot-s: \e39b,
  sym-hmq: \f0b1,
  sym-hmq-s: \e0b1,
  sym-hns: \f4d9,
  sym-hns-s: \e4d9,
  sym-hpb: \f3c4,
  sym-hpb-s: \e3c4,
  sym-hpc: \f3fc,
  sym-hpc-s: \e3fc,
  sym-hpt: \f4a4,
  sym-hpt-s: \e4a4,
  sym-hsc: \f43c,
  sym-hsc-s: \e43c,
  sym-hsr: \f33d,
  sym-hsr-s: \e33d,
  sym-hst: \f43d,
  sym-hst-s: \e43d,
  sym-ht: \f118,
  sym-ht-s: \e118,
  sym-html: \f33e,
  sym-html-s: \e33e,
  sym-huc: \f041,
  sym-huc-s: \e041,
  sym-husd: \f118,
  sym-husd-s: \e118,
  sym-hvn: \f33f,
  sym-hvn-s: \e33f,
  sym-hxro: \f43e,
  sym-hxro-s: \e43e,
  sym-hyc: \f3c5,
  sym-hyc-s: \e3c5,
  sym-hydra: \f48c,
  sym-hydra-s: \e48c,
  sym-hydro: \f3c6,
  sym-hydro-s: \e3c6,
  sym-icn: \f042,
  sym-icn-s: \e042,
  sym-icos: \f38e,
  sym-icos-s: \e38e,
  sym-icx: \f043,
  sym-icx-s: \e043,
  sym-idh: \f340,
  sym-idh-s: \e340,
  sym-idr: \f20c,
  sym-idr-s: \e20c,
  sym-ift: \f341,
  sym-ift-s: \e341,
  sym-ignis: \f098,
  sym-ignis-s: \e098,
  sym-ihf: \f467,
  sym-ihf-s: \e467,
  sym-iht: \f342,
  sym-iht-s: \e342,
  sym-ilc: \f43f,
  sym-ilc-s: \e43f,
  sym-ioc: \f0c4,
  sym-ioc-s: \e0c4,
  sym-ion: \f09a,
  sym-ion-s: \e09a,
  sym-iot: \f044,
  sym-iot-s: \e044,
  sym-iota: \f044,
  sym-iota-s: \e044,
  sym-iotx: \f343,
  sym-iotx-s: \e343,
  sym-incnt: \f0ce,
  sym-incnt-s: \e0ce,
  sym-ind: \f3fd,
  sym-ind-s: \e3fd,
  sym-ink: \f0f1,
  sym-ink-s: \e0f1,
  sym-inr: \f20d,
  sym-inr-s: \e20d,
  sym-ins: \f0f2,
  sym-ins-s: \e0f2,
  sym-int: \f3c7,
  sym-int-s: \e3c7,
  sym-iost: \f0f3,
  sym-iost-s: \e0f3,
  sym-iris: \f468,
  sym-iris-s: \e468,
  sym-itc: \f3fe,
  sym-itc-s: \e3fe,
  sym-ivy: \f396,
  sym-ivy-s: \e396,
  sym-ixt: \f344,
  sym-ixt-s: \e344,
  sym-jnt: \f0f4,
  sym-jnt-s: \e0f4,
  sym-jpy: \f202,
  sym-jpy-s: \e202,
  sym-jst: \f4da,
  sym-jst-s: \e4da,
  sym-kan: \f3ff,
  sym-kan-s: \e3ff,
  sym-kava: \f4b5,
  sym-kava-s: \e4b5,
  sym-kbc: \f48d,
  sym-kbc-s: \e48d,
  sym-kcash: \f440,
  sym-kcash-s: \e440,
  sym-keep: \f4f8,
  sym-keep-s: \e4f8,
  sym-key: \f391,
  sym-key-s: \e391,
  sym-kick: \f345,
  sym-kick-s: \e345,
  sym-kin: \f0f5,
  sym-kin-s: \e0f5,
  sym-kmd: \f045,
  sym-kmd-s: \e045,
  sym-knc: \f0a8,
  sym-knc-s: \e0a8,
  sym-kore: \f441,
  sym-kore-s: \e441,
  sym-krm: \f37c,
  sym-krm-s: \e37c,
  sym-ksm: \f4e1,
  sym-ksm-s: \e4e1,
  sym-krw: \f203,
  sym-krw-s: \e203,
  sym-la: \f346,
  sym-la-s: \e346,
  sym-lamb: \f400,
  sym-lamb-s: \e400,
  sym-latx: \f347,
  sym-latx-s: \e347,
  sym-lba: \f3c8,
  sym-lba-s: \e3c8,
  sym-lbc: \f046,
  sym-lbc-s: \e046,
  sym-lcc: \f38d,
  sym-lcc-s: \e38d,
  sym-lend: \f0f6,
  sym-lend-s: \e0f6,
  sym-leo: \f3c9,
  sym-leo-s: \e3c9,
  sym-leoc: \f474,
  sym-leoc-s: \e474,
  sym-let: \f401,
  sym-let-s: \e401,
  sym-life: \f348,
  sym-life-s: \e348,
  sym-link: \f047,
  sym-link-s: \e047,
  sym-lmc: \f0cb,
  sym-lmc-s: \e0cb,
  sym-lml: \f3ca,
  sym-lml-s: \e3ca,
  sym-lnc: \f395,
  sym-lnc-s: \e395,
  sym-lnd: \f402,
  sym-lnd-s: \e402,
  sym-loc: \f349,
  sym-loc-s: \e349,
  sym-loom: \f34a,
  sym-loom-s: \e34a,
  sym-lpt: \f403,
  sym-lpt-s: \e403,
  sym-lrc: \f048,
  sym-lrc-s: \e048,
  sym-lrn: \f442,
  sym-lrn-s: \e442,
  sym-lsk: \f049,
  sym-lsk-s: \e049,
  sym-ltc: \f04a,
  sym-ltc-s: \e04a,
  sym-lto: \f4c0,
  sym-lto-s: \e4c0,
  sym-lun: \f0a9,
  sym-lun-s: \e0a9,
  sym-luna: \f4a5,
  sym-luna-s: \e4a5,
  sym-lxt: \f443,
  sym-lxt-s: \e443,
  sym-lym: \f34b,
  sym-lym-s: \e34b,
  sym-maid: \f04b,
  sym-maid-s: \e04b,
  sym-man: \f34c,
  sym-man-s: \e34c,
  sym-mana: \f04c,
  sym-mana-s: \e04c,
  sym-matic: \f444,
  sym-matic-s: \e444,
  sym-mbl: \f475,
  sym-mbl-s: \e475,
  sym-mco: \f04d,
  sym-mco-s: \e04d,
  sym-mda: \f0f7,
  sym-mda-s: \e0f7,
  sym-mds: \f404,
  sym-mds-s: \e404,
  sym-mdt: \f445,
  sym-mdt-s: \e445,
  sym-med: \f3cb,
  sym-med-s: \e3cb,
  sym-medx: \f3cb,
  sym-medx-s: \e3cb,
  sym-mer: \f0cf,
  sym-mer-s: \e0cf,
  sym-met: \f3cc,
  sym-met-s: \e3cc,
  sym-meta: \f405,
  sym-meta-s: \e405,
  sym-mft: \f382,
  sym-mft-s: \e382,
  sym-mgo: \f39e,
  sym-mgo-s: \e39e,
  sym-mhc: \f447,
  sym-mhc-s: \e447,
  sym-mith: \f0f8,
  sym-mith-s: \e0f8,
  sym-mitx: \f406,
  sym-mitx-s: \e406,
  sym-mln: \f04e,
  sym-mln-s: \e04e,
  sym-mkr: \f0a5,
  sym-mkr-s: \e0a5,
  sym-mnx: \f407,
  sym-mnx-s: \e407,
  sym-moac: \f3cd,
  sym-moac-s: \e3cd,
  sym-mobi: \f3ce,
  sym-mobi-s: \e3ce,
  sym-moc: \f3cf,
  sym-moc-s: \e3cf,
  sym-mod: \f0f9,
  sym-mod-s: \e0f9,
  sym-moon: \f4f3,
  sym-moon-s: \e4f3,
  sym-mona: \f04f,
  sym-mona-s: \e04f,
  sym-morph: \f34d,
  sym-morph-s: \e34d,
  sym-mrk: \f3d0,
  sym-mrk-s: \e3d0,
  sym-msp: \f34e,
  sym-msp-s: \e34e,
  sym-mta: \f4e5,
  sym-mta-s: \e4e5,
  sym-mtc: \f34f,
  sym-mtc-s: \e34f,
  sym-mth: \f0fa,
  sym-mth-s: \e0fa,
  sym-mtl: \f0fb,
  sym-mtl-s: \e0fb,
  sym-mtn: \f0b0,
  sym-mtn-s: \e0b0,
  sym-mtx: \f397,
  sym-mtx-s: \e397,
  sym-mue: \f0c6,
  sym-mue-s: \e0c6,
  sym-mx: \f4b2,
  sym-mx-s: \e4b2,
  sym-mxc: \f408,
  sym-mxc-s: \e408,
  sym-mxn: \f219,
  sym-mxn-s: \e219,
  sym-mxm: \f409,
  sym-mxm-s: \e409,
  sym-myr: \f210,
  sym-myr-s: \e210,
  sym-nanj: \f350,
  sym-nanj-s: \e350,
  sym-nano: \f09f,
  sym-nano-s: \e09f,
  sym-nas: \f380,
  sym-nas-s: \e380,
  sym-naut: \f3a1,
  sym-naut-s: \e3a1,
  sym-nav: \f050,
  sym-nav-s: \e050,
  sym-ncash: \f0fc,
  sym-ncash-s: \e0fc,
  sym-nct: \f40a,
  sym-nct-s: \e40a,
  sym-nebl: \f0fd,
  sym-nebl-s: \e0fd,
  sym-nec: \f476,
  sym-nec-s: \e476,
  sym-neo: \f051,
  sym-neo-s: \e051,
  sym-neos: \f052,
  sym-neos-s: \e052,
  sym-nest: \f4ed,
  sym-nest-s: \e4ed,
  sym-neu: \f351,
  sym-neu-s: \e351,
  sym-new: \f448,
  sym-new-s: \e448,
  sym-nexo: \f352,
  sym-nexo-s: \e352,
  sym-ngc: \f0bc,
  sym-ngc-s: \e0bc,
  sym-ngn: \f211,
  sym-ngn-s: \e211,
  sym-nim: \f40b,
  sym-nim-s: \e40b,
  sym-nkn: \f40c,
  sym-nkn-s: \e40c,
  sym-nlc2: \f0fe,
  sym-nlc2-s: \e0fe,
  sym-nlg: \f0b6,
  sym-nlg-s: \e0b6,
  sym-nmc: \f053,
  sym-nmc-s: \e053,
  sym-nmr: \f0bf,
  sym-nmr-s: \e0bf,
  sym-noah: \f37f,
  sym-noah-s: \e37f,
  sym-note: \f387,
  sym-note-s: \e387,
  sym-nplc: \f40d,
  sym-nplc-s: \e40d,
  sym-npxs: \f381,
  sym-npxs-s: \e381,
  sym-nrg: \f4cc,
  sym-nrg-s: \e4cc,
  sym-ntk: \f353,
  sym-ntk-s: \e353,
  sym-nuls: \f0ff,
  sym-nuls-s: \e0ff,
  sym-nvc: \f37e,
  sym-nvc-s: \e37e,
  sym-nxc: \f054,
  sym-nxc-s: \e054,
  sym-nxs: \f055,
  sym-nxs-s: \e055,
  sym-nxt: \f056,
  sym-nxt-s: \e056,
  sym-oax: \f300,
  sym-oax-s: \e300,
  sym-ocean: \f469,
  sym-ocean-s: \e469,
  sym-ocn: \f0d3,
  sym-ocn-s: \e0d3,
  sym-ode: \f08e,
  sym-ode-s: \e08e,
  sym-ogn: \f4c1,
  sym-ogn-s: \e4c1,
  sym-ogo: \f477,
  sym-ogo-s: \e477,
  sym-ok: \f46a,
  sym-ok-s: \e46a,
  sym-okb: \f4b0,
  sym-okb-s: \e4b0,
  sym-omg: \f057,
  sym-omg-s: \e057,
  sym-omni: \f058,
  sym-omni-s: \e058,
  sym-one: \f478,
  sym-one-s: \e478,
  sym-ong: \f4c9,
  sym-ong-s: \e4c9,
  sym-onot: \f449,
  sym-onot-s: \e449,
  sym-ont: \f301,
  sym-ont-s: \e301,
  sym-orbs: \f46b,
  sym-orbs-s: \e46b,
  sym-orme: \f354,
  sym-orme-s: \e354,
  sym-ors: \f48e,
  sym-ors-s: \e48e,
  sym-ost: \f302,
  sym-ost-s: \e302,
  sym-otn: \f39a,
  sym-otn-s: \e39a,
  sym-oxt: \f4bd,
  sym-oxt-s: \e4bd,
  sym-oxy: \f479,
  sym-oxy-s: \e479,
  sym-pai: \f37d,
  sym-pai-s: \e37d,
  sym-pal: \f40e,
  sym-pal-s: \e40e,
  sym-part: \f059,
  sym-part-s: \e059,
  sym-pasc: \f05a,
  sym-pasc-s: \e05a,
  sym-pat: \f356,
  sym-pat-s: \e356,
  sym-pax: \f39d,
  sym-pax-s: \e39d,
  sym-paxg: \f4a0,
  sym-paxg-s: \e4a0,
  sym-pay: \f05b,
  sym-pay-s: \e05b,
  sym-pbt: \f47a,
  sym-pbt-s: \e47a,
  sym-pcl: \f355,
  sym-pcl-s: \e355,
  sym-perl: \f48f,
  sym-perl-s: \e48f,
  sym-phx: \f3d1,
  sym-phx-s: \e3d1,
  sym-php: \f20e,
  sym-php-s: \e20e,
  sym-pi: \f44a,
  sym-pi-s: \e44a,
  sym-pink: \f05c,
  sym-pink-s: \e05c,
  sym-pivx: \f05d,
  sym-pivx-s: \e05d,
  sym-pkt: \f394,
  sym-pkt-s: \e394,
  sym-pla: \f40f,
  sym-pla-s: \e40f,
  sym-plbt: \f357,
  sym-plbt-s: \e357,
  sym-pln: \f20f,
  sym-pln-s: \e20f,
  sym-plr: \f303,
  sym-plr-s: \e303,
  sym-ply: \f3d2,
  sym-ply-s: \e3d2,
  sym-pma: \f3d3,
  sym-pma-s: \e3d3,
  sym-poa: \f0aa,
  sym-poa-s: \e0aa,
  sym-poe: \f304,
  sym-poe-s: \e304,
  sym-poly: \f09e,
  sym-poly-s: \e09e,
  sym-pot: \f05e,
  sym-pot-s: \e05e,
  sym-powr: \f05f,
  sym-powr-s: \e05f,
  sym-pnt: \f3d4,
  sym-pnt-s: \e3d4,
  sym-ppc: \f060,
  sym-ppc-s: \e060,
  sym-ppt: \f305,
  sym-ppt-s: \e305,
  sym-pra: \f490,
  sym-pra-s: \e490,
  sym-pre: \f358,
  sym-pre-s: \e358,
  sym-prg: \f38f,
  sym-prg-s: \e38f,
  sym-pro: \f0b4,
  sym-pro-s: \e0b4,
  sym-pst: \f44b,
  sym-pst-s: \e44b,
  sym-pton: \f44c,
  sym-pton-s: \e44c,
  sym-pvt: \f491,
  sym-pvt-s: \e491,
  sym-pxg: \f410,
  sym-pxg-s: \e410,
  sym-qash: \f3af,
  sym-qash-s: \e3af,
  sym-qau: \f359,
  sym-qau-s: \e359,
  sym-qkc: \f35a,
  sym-qkc-s: \e35a,
  sym-qlc: \f306,
  sym-qlc-s: \e306,
  sym-qnt: \f411,
  sym-qnt-s: \e411,
  sym-qntu: \f3d5,
  sym-qntu-s: \e3d5,
  sym-qrl: \f099,
  sym-qrl-s: \e099,
  sym-qsp: \f35b,
  sym-qsp-s: \e35b,
  sym-qtum: \f061,
  sym-qtum-s: \e061,
  sym-qun: \f412,
  sym-qun-s: \e412,
  sym-r: \f307,
  sym-r-s: \e307,
  sym-rads: \f062,
  sym-rads-s: \e062,
  sym-rating: \f492,
  sym-rating-s: \e492,
  sym-rblx: \f3d6,
  sym-rblx-s: \e3d6,
  sym-rbtc: \f3aa,
  sym-rbtc-s: \e3aa,
  sym-rby: \f0c3,
  sym-rby-s: \e0c3,
  sym-rcn: \f063,
  sym-rcn-s: \e063,
  sym-rdd: \f064,
  sym-rdd-s: \e064,
  sym-rdn: \f0a3,
  sym-rdn-s: \e0a3,
  sym-rem: \f44d,
  sym-rem-s: \e44d,
  sym-ren: \f44e,
  sym-ren-s: \e44e,
  sym-rep: \f065,
  sym-rep-s: \e065,
  sym-repv2: \f4d2,
  sym-repv2-s: \e4d2,
  sym-req: \f08f,
  sym-req-s: \e08f,
  sym-rev: \f4ec,
  sym-rev-s: \e4ec,
  sym-rfox: \f493,
  sym-rfox-s: \e493,
  sym-rfr: \f3d7,
  sym-rfr-s: \e3d7,
  sym-ric: \f066,
  sym-ric-s: \e066,
  sym-rif: \f44f,
  sym-rif-s: \e44f,
  sym-ring: \f4f0,
  sym-ring-s: \e4f0,
  sym-rlc: \f067,
  sym-rlc-s: \e067,
  sym-rox: \f413,
  sym-rox-s: \e413,
  sym-rntb: \f35c,
  sym-rntb-s: \e35c,
  sym-rpx: \f308,
  sym-rpx-s: \e308,
  sym-rsr: \f47b,
  sym-rsr-s: \e47b,
  sym-rsv: \f47c,
  sym-rsv-s: \e47c,
  sym-rub: \f205,
  sym-rub-s: \e205,
  sym-ruff: \f414,
  sym-ruff-s: \e414,
  sym-rune: \f4ee,
  sym-rune-s: \e4ee,
  sym-rvn: \f39f,
  sym-rvn-s: \e39f,
  sym-rvr: \f0c8,
  sym-rvr-s: \e0c8,
  sym-rvt: \f35d,
  sym-rvt-s: \e35d,
  sym-sai: \f4b6,
  sym-sai-s: \e4b6,
  sym-salt: \f068,
  sym-salt-s: \e068,
  sym-san: \f069,
  sym-san-s: \e069,
  sym-sbd: \f06a,
  sym-sbd-s: \e06a,
  sym-sc: \f06b,
  sym-sc-s: \e06b,
  sym-scc: \f415,
  sym-scc-s: \e415,
  sym-sdc: \f38c,
  sym-sdc-s: \e38c,
  sym-seele: \f416,
  sym-seele-s: \e416,
  sym-sen: \f3d8,
  sym-sen-s: \e3d8,
  sym-sent: \f35e,
  sym-sent-s: \e35e,
  sym-sero: \f4c6,
  sym-sero-s: \e4c6,
  sym-sexc: \f46c,
  sym-sexc-s: \e46c,
  sym-sgd: \f20a,
  sym-sgd-s: \e20a,
  sym-sgn: \f417,
  sym-sgn-s: \e417,
  sym-shift: \f0b9,
  sym-shift-s: \e0b9,
  sym-ship: \f35f,
  sym-ship-s: \e35f,
  sym-sib: \f0ca,
  sym-sib-s: \e0ca,
  sym-six: \f450,
  sym-six-s: \e450,
  sym-slr: \f0c2,
  sym-slr-s: \e0c2,
  sym-sls: \f091,
  sym-sls-s: \e091,
  sym-sjcx: \f06e,
  sym-sjcx-s: \e06e,
  sym-skm: \f451,
  sym-skm-s: \e451,
  sym-sky: \f309,
  sym-sky-s: \e309,
  sym-slt: \f452,
  sym-slt-s: \e452,
  sym-slv: \f4b1,
  sym-slv-s: \e4b1,
  sym-smart: \f30a,
  sym-smart-s: \e30a,
  sym-smt: \f360,
  sym-smt-s: \e360,
  sym-snc: \f361,
  sym-snc-s: \e361,
  sym-snet: \f4a8,
  sym-snet-s: \e4a8,
  sym-sngls: \f30b,
  sym-sngls-s: \e30b,
  sym-snm: \f30c,
  sym-snm-s: \e30c,
  sym-snt: \f06c,
  sym-snt-s: \e06c,
  sym-snx: \f46d,
  sym-snx-s: \e46d,
  sym-soc: \f362,
  sym-soc-s: \e362,
  sym-sol: \f4c7,
  sym-sol-s: \e4c7,
  sym-solo: \f4eb,
  sym-solo-s: \e4eb,
  sym-solve: \f418,
  sym-solve-s: \e418,
  sym-soul: \f453,
  sym-soul-s: \e453,
  sym-spc: \f398,
  sym-spc-s: \e398,
  sym-spd: \f454,
  sym-spd-s: \e454,
  sym-sphr: \f419,
  sym-sphr-s: \e419,
  sym-sphtx: \f3d9,
  sym-sphtx-s: \e3d9,
  sym-spnd: \f41a,
  sym-spnd-s: \e41a,
  sym-spnk: \f3b1,
  sym-spnk-s: \e3b1,
  sym-srm: \f4dd,
  sym-srm-s: \e4dd,
  sym-srn: \f06d,
  sym-srn-s: \e06d,
  sym-ssp: \f41b,
  sym-ssp-s: \e41b,
  sym-stacs: \f41c,
  sym-stacs-s: \e41c,
  sym-steem: \f06a,
  sym-steem-s: \e06a,
  sym-storj: \f06e,
  sym-storj-s: \e06e,
  sym-storm: \f0ad,
  sym-storm-s: \e0ad,
  sym-stpt: \f494,
  sym-stpt-s: \e494,
  sym-str: \f06f,
  sym-str-s: \e06f,
  sym-strat: \f070,
  sym-strat-s: \e070,
  sym-stq: \f363,
  sym-stq-s: \e363,
  sym-stx: \f364,
  sym-stx-s: \e364,
  sym-sub: \f0ae,
  sym-sub-s: \e0ae,
  sym-susd: \f495,
  sym-susd-s: \e495,
  sym-sushi: \f4e9,
  sym-sushi-s: \e4e9,
  sym-swftc: \f365,
  sym-swftc-s: \e365,
  sym-swm: \f390,
  sym-swm-s: \e390,
  sym-swt: \f0d0,
  sym-swt-s: \e0d0,
  sym-swth: \f496,
  sym-swth-s: \e496,
  sym-sxp: \f4d4,
  sym-sxp-s: \e4d4,
  sym-sys: \f071,
  sym-sys-s: \e071,
  sym-taas: \f30d,
  sym-taas-s: \e30d,
  sym-tau: \f392,
  sym-tau-s: \e392,
  sym-tct: \f46e,
  sym-tct-s: \e46e,
  sym-tel: \f30d,
  sym-tel-s: \e30e,
  sym-temco: \f497,
  sym-temco-s: \e497,
  sym-tfuel: \f455,
  sym-tfuel-s: \e455,
  sym-theta: \f30f,
  sym-theta-s: \e30f,
  sym-thc: \f393,
  sym-thc-s: \e393,
  sym-thx: \f498,
  sym-thx-s: \e498,
  sym-time: \f366,
  sym-time-s: \e366,
  sym-tio: \f367,
  sym-tio-s: \e367,
  sym-tix: \f0c0,
  sym-tix-s: \e0c0,
  sym-tkn: \f310,
  sym-tkn-s: \e310,
  sym-tky: \f368,
  sym-tky-s: \e368,
  sym-tnb: \f072,
  sym-tnb-s: \e072,
  sym-tnc: \f456,
  sym-tnc-s: \e456,
  sym-tnt: \f311,
  sym-tnt-s: \e311,
  sym-tomo: \f457,
  sym-tomo-s: \e457,
  sym-top: \f458,
  sym-top-s: \e458,
  sym-tpay: \f3da,
  sym-tpay-s: \e3da,
  sym-trac: \f369,
  sym-trac-s: \e369,
  sym-trb: \f4e3,
  sym-trb-s: \e4e3,
  sym-trig: \f312,
  sym-trig-s: \e312,
  sym-trio: \f41d,
  sym-trio-s: \e41d,
  sym-troy: \f4c4,
  sym-troy-s: \e4c4,
  sym-trst: \f0be,
  sym-trst-s: \e0be,
  sym-true: \f36a,
  sym-true-s: \e36a,
  sym-trx: \f073,
  sym-trx-s: \e073,
  sym-tt: \f46f,
  sym-tt-s: \e46f,
  sym-ttc: \f459,
  sym-ttc-s: \e459,
  sym-ttu: \f38b,
  sym-ttu-s: \e38b,
  sym-tube: \f36b,
  sym-tube-s: \e36b,
  sym-tusd: \f088,
  sym-tusd-s: \e088,
  sym-ubq: \f092,
  sym-ubq-s: \e092,
  sym-ubt: \f41e,
  sym-ubt-s: \e41e,
  sym-ugas: \f45a,
  sym-ugas-s: \e45a,
  sym-uip: \f499,
  sym-uip-s: \e499,
  sym-ukg: \f0b2,
  sym-ukg-s: \e0b2,
  sym-uni: \f4f7,
  sym-uni-s: \e4f7,
  sym-up: \f0a2,
  sym-up-s: \e0a2,
  sym-upp: \f3db,
  sym-upp-s: \e3db,
  sym-usd: \f201,
  sym-usd-s: \e201,
  sym-usdc: \f218,
  sym-usdc-s: \e218,
  sym-usds: \f41f,
  sym-usds-s: \e41f,
  sym-usdt: \f074,
  sym-usdt-s: \e074,
  sym-usk: \f49a,
  sym-usk-s: \e49a,
  sym-utk: \f313,
  sym-utk-s: \e313,
  sym-utnp: \f36c,
  sym-utnp-s: \e36c,
  sym-utt: \f383,
  sym-utt-s: \e383,
  sym-uuu: \f36d,
  sym-uuu-s: \e36d,
  sym-vbk: \f470,
  sym-vbk-s: \e470,
  sym-vdx: \f49b,
  sym-vdx-s: \e49b,
  sym-vee: \f09b,
  sym-vee-s: \e09b,
  sym-ven: \f0ab,
  sym-ven-s: \e0ab,
  sym-veo: \f420,
  sym-veo-s: \e420,
  sym-veri: \f314,
  sym-veri-s: \e314,
  sym-vet: \f0ab,
  sym-vet-s: \e0ab,
  sym-vex: \f49c,
  sym-vex-s: \e49c,
  sym-via: \f075,
  sym-via-s: \e075,
  sym-vib: \f315,
  sym-vib-s: \e315,
  sym-vibe: \f316,
  sym-vibe-s: \e316,
  sym-vidy: \f4b8,
  sym-vidy-s: \e4b8,
  sym-vitae: \f4f1,
  sym-vitae-s: \e4f1,
  sym-vite: \f3dc,
  sym-vite-s: \e3dc,
  sym-vlx: \f4ef,
  sym-vlx-s: \e4ef,
  sym-vox: \f076,
  sym-vox-s: \e076,
  sym-vra: \f471,
  sym-vra-s: \e471,
  sym-vrc: \f077,
  sym-vrc-s: \e077,
  sym-vrm: \f078,
  sym-vrm-s: \e078,
  sym-vsys: \f49d,
  sym-vsys-s: \e49d,
  sym-vtc: \f079,
  sym-vtc-s: \e079,
  sym-wabi: \f317,
  sym-wabi-s: \e317,
  sym-wan: \f318,
  sym-wan-s: \e318,
  sym-waves: \f07a,
  sym-waves-s: \e07a,
  sym-wax: \f08a,
  sym-wax-s: \e08a,
  sym-waxp: \f08a,
  sym-waxp-s: \e08a,
  sym-wrx: \f4bb,
  sym-wrx-s: \e4bb,
  sym-wbtc: \f49e,
  sym-wbtc-s: \e49e,
  sym-wet: \f45b,
  sym-wet-s: \e45b,
  sym-wib: \f45c,
  sym-wib-s: \e45c,
  sym-wicc: \f421,
  sym-wicc-s: \e421,
  sym-win: \f4b7,
  sym-win-s: \e4b7,
  sym-wings: \f09c,
  sym-wings-s: \e09c,
  sym-wnxm: \f4e2,
  sym-wnxm-s: \e4e2,
  sym-wpr: \f38a,
  sym-wpr-s: \e38a,
  sym-wtc: \f319,
  sym-wtc-s: \e319,
  sym-wwb: \f3dd,
  sym-wwb-s: \e3dd,
  sym-wxt: \f4aa,
  sym-wxt-s: \e4aa,
  sym-xas: \f3de,
  sym-xas-s: \e3de,
  sym-xaur: \f422,
  sym-xaur-s: \e422,
  sym-xaut: \f4d3,
  sym-xaut-s: \e4d3,
  sym-xbc: \f07b,
  sym-xbc-s: \e07b,
  sym-xbt: \f01e,
  sym-xbt-s: \e01e,
  sym-xcon: \f47d,
  sym-xcon-s: \e47d,
  sym-xcp: \f07c,
  sym-xcp-s: \e07c,
  sym-xdg: \f02a,
  sym-xdg-s: \e02a,
  sym-xdn: \f0a0,
  sym-xdn-s: \e0a0,
  sym-xel: \f0bb,
  sym-xel-s: \e0bb,
  sym-xem: \f07d,
  sym-xem-s: \e07d,
  sym-xes: \f45d,
  sym-xes-s: \e45d,
  sym-xhv: \f3df,
  sym-xhv-s: \e3df,
  sym-xin: \f09d,
  sym-xin-s: \e09d,
  sym-xlm: \f424,
  sym-xlm-s: \e424,
  sym-xmc: \f4ac,
  sym-xmc-s: \e4ac,
  sym-xmr: \f07e,
  sym-xmr-s: \e07e,
  sym-xmx: \f45e,
  sym-xmx-s: \e45e,
  sym-xmy: \f0d2,
  sym-xmy-s: \e0d2,
  sym-xnk: \f45f,
  sym-xnk-s: \e45f,
  sym-xns: \f4ce,
  sym-xns-s: \e4ce,
  sym-xpm: \f07f,
  sym-xpm-s: \e07f,
  sym-xpr: \f4c5,
  sym-xpr-s: \e4c5,
  sym-xrc: \f4ae,
  sym-xrc-s: \e4ae,
  sym-xrp: \f39c,
  sym-xrp-s: \e39c,
  sym-xrpx: \f080,
  sym-xrpx-s: \e080,
  sym-xsc: \f06b,
  sym-xsc-s: \e06b,
  sym-xst: \f3e0,
  sym-xst-s: \e3e0,
  sym-xtp: \f4cf,
  sym-xtp-s: \e4cf,
  sym-xtz: \f31a,
  sym-xtz-s: \e31a,
  sym-xvc: \f081,
  sym-xvc-s: \e081,
  sym-xvg: \f082,
  sym-xvg-s: \e082,
  sym-xwc: \f0b7,
  sym-xwc-s: \e0b7,
  sym-xyo: \f460,
  sym-xyo-s: \e460,
  sym-xzc: \f083,
  sym-xzc-s: \e083,
  sym-yam: \f4dc,
  sym-yam-s: \e4dc,
  sym-yee: \f461,
  sym-yee-s: \e461,
  sym-yeed: \f3ad,
  sym-yeed-s: \e3ad,
  sym-yfi: \f4db,
  sym-yfi-s: \e4db,
  sym-yfii: \f4df,
  sym-yfii-s: \e4df,
  sym-yoyow: \f31b,
  sym-yoyow-s: \e31b,
  sym-zar: \f208,
  sym-zar-s: \e208,
  sym-zcl: \f0a6,
  sym-zcl-s: \e0a6,
  sym-zcn: \f388,
  sym-zcn-s: \e388,
  sym-zco: \f423,
  sym-zco-s: \e423,
  sym-zec: \f084,
  sym-zec-s: \e084,
  sym-zen: \f085,
  sym-zen-s: \e085,
  sym-zil: \f0ac,
  sym-zil-s: \e0ac,
  sym-zla: \f49f,
  sym-zla-s: \e49f,
  sym-zpr: \f462,
  sym-zpr-s: \e462,
  sym-zpt: \f36e,
  sym-zpt-s: \e36e,
  sym-zrc: \f36f,
  sym-zrc-s: \e36f,
  sym-zrx: \f086,
  sym-zrx-s: \e086,
  sym-zsc: \f370,
  sym-zsc-s: \e370,
  exc-d: \f100,
  exc-d-s: \e100,
  exc-default: \f100,
  exc-default-s: \e100,
  exc-deribit: \f12d,
  exc-deribit-s: \e12d,
  exc-bibox: \e128,
  exc-bibox-s: \f128,
  exc-binance: \f102,
  exc-binance-s: \e102,
  exc-binance-us: \f102,
  exc-binance-us-s: \e102,
  exc-bisq: \f123,
  exc-bisq-s: \e123,
  exc-bitbay: \f112,
  exc-bitbay-s: \e112,
  exc-bitfinex: \f103,
  exc-bitfinex-s: \e103,
  exc-bitflyer: \f104,
  exc-bitflyer-s: \e104,
  exc-bithumb: \f116,
  exc-bithumb-s: \e116,
  exc-bitmex: \f105,
  exc-bitmex-s: \e105,
  exc-bitso: \e129,
  exc-bitso-s: \f129,
  exc-bitsquare: \f106,
  exc-bitsquare-s: \e106,
  exc-bitstamp: \f107,
  exc-bitstamp-s: \e107,
  exc-bittrex: \f108,
  exc-bittrex-s: \e108,
  exc-bitvc: \f11e,
  exc-bitvc-s: \e11e,
  exc-bitz: \f119,
  exc-bitz-s: \e119,
  exc-btcchina: \f11c,
  exc-btcchina-s: \e11c,
  exc-btce: \f109,
  exc-btce-s: \e109,
  exc-cexio: \f10a,
  exc-cexio-s: \e10a,
  exc-coinone: \f114,
  exc-coinone-s: \e114,
  exc-cryptofacilities: \f121,
  exc-cryptofacilities-s: \e121,
  exc-coinbasepro: \f10b,
  exc-coinbasepro-s: \e10b,
  exc-coinbase-pro: \f10b,
  exc-coinbase-pro-s: \e10b,
  exc-dex-aggregated: \f12b,
  exc-dex-aggregated-s: \e12b,
  exc-gdax: \f10b,
  exc-gdax-s: \e10b,
  exc-gateio: \f11a,
  exc-gateio-s: \e11a,
  exc-gemini: \f10c,
  exc-gemini-s: \e10c,
  exc-hitbtc: \f115,
  exc-hitbtc-s: \e115,
  exc-huobi: \f118,
  exc-huobi-s: \e118,
  exc-kraken: \f101,
  exc-kraken-s: \e101,
  exc-kraken-futures: \f101,
  exc-kraken-futures-s: \e101,
  exc-kucoin: \f126,
  exc-kucoin-s: \e126,
  exc-liquid: \f122,
  exc-liquid-s: \e122,
  exc-luno: \f10d,
  exc-luno-s: \e10d,
  exc-mexbt: \f11e,
  exc-mexbt-s: \e11e,
  exc-mtgox: \f11f,
  exc-mtgox-s: \e11f,
  exc-mxc: \e12a,
  exc-mxc-s: \f12a,
  exc-okcoin: \f117,
  exc-okcoin-s: \e117,
  exc-okex: \f113,
  exc-okex-s: \e113,
  exc-poloniex: \f10e,
  exc-poloniex-s: \e10e,
  exc-qryptos: \f10f,
  exc-qryptos-s: \e10f,
  exc-quadrigacx: \f110,
  exc-quadrigacx-s: \e110,
  exc-quadriga: \f110,
  exc-quadriga-s: \e110,
  exc-quoine: \f111,
  exc-quoine-s: \e111,
  exc-totle: \f124,
  exc-totle-s: \e124,
  exc-upbit: \f125,
  exc-upbit-s: \e125,
  exc-vaultofsatoshi: \f11d,
  exc-vaultofsatoshi-s: \e11d,
  exc-wex: \f120,
  exc-wex-s: \e120,
  exc-zaif: \e127,
  exc-zaif-s: \f127,
  cur-default: \f200,
  cur-default-s: \e200,
  cur-d: \f200,
  cur-d-s: \e200,
  cur-anct: \f21a,
  cur-anct-s: \e21a,
  cur-aud: \f204,
  cur-aud-s: \e204,
  cur-bnb: \f0de,
  cur-bnb-s: \e0de,
  cur-btc: \f01e,
  cur-btc-s: \e01e,
  cur-busd: \f21c,
  cur-busd-s: \e21c,
  cur-bz: \f119,
  cur-bz-s: \e119,
  cur-cad: \f207,
  cur-cad-s: \e207,
  cur-chf: \f21b,
  cur-chf-s: \e21b,
  cur-cny: \f209,
  cur-cny-s: \e209,
  cur-crc: \f215,
  cur-crc-s: \e215,
  cur-dai: \f0af,
  cur-dai-s: \e0af,
  cur-eos: \f031,
  cur-eos-s: \e031,
  cur-eth: \f033,
  cur-eth-s: \e033,
  cur-eur: \f035,
  cur-eur-s: \e035,
  cur-eurs: \f3f4,
  cur-eurs-s: \e3f4,
  cur-gbp: \f206,
  cur-gbp-s: \e206,
  cur-gusd: \f10c,
  cur-gusd-s: \e10c,
  cur-hkd: \f20b,
  cur-hkd-s: \e20b,
  cur-ht: \f118,
  cur-ht-s: \e118,
  cur-idr: \f20c,
  cur-idr-s: \e20c,
  cur-inr: \f20d,
  cur-inr-s: \e20d,
  cur-jpy: \f202,
  cur-jpy-s: \e202,
  cur-krw: \f203,
  cur-krw-s: \e203,
  cur-lak: \f213,
  cur-lak-s: \e213,
  cur-mxn: \f219,
  cur-mxn-s: \e219,
  cur-myr: \f210,
  cur-myr-s: \e210,
  cur-ngn: \f211,
  cur-ngn-s: \e211,
  cur-pax: \f39d,
  cur-pax-s: \e39d,
  cur-php: \f20e,
  cur-php-s: \e20e,
  cur-pln: \f20f,
  cur-pln-s: \e20f,
  cur-qash: \f3af,
  cur-qash-s: \e3af,
  cur-rub: \f205,
  cur-rub-s: \e205,
  cur-rur: \f205,
  cur-rur-s: \e205,
  cur-sek: \f214,
  cur-sek-s: \e214,
  cur-sgd: \f20a,
  cur-sgd-s: \e20a,
  cur-thb: \f217,
  cur-thb-s: \e217,
  cur-try: \f212,
  cur-try-s: \e212,
  cur-trx: \f073,
  cur-trx-s: \e073,
  cur-tusd: \f088,
  cur-tusd-s: \e088,
  cur-uah: \f216,
  cur-uah-s: \e216,
  cur-usd: \f201,
  cur-usd-s: \e201,
  cur-usdc: \f218,
  cur-usdc-s: \e218,
  cur-usdt: \f074,
  cur-usdt-s: \e074,
  cur-xlm: \f424,
  cur-xlm-s: \e424,
  cur-xmr: \f07e,
  cur-xmr-s: \e07e,
  cur-xrp: \f39c,
  cur-xrp-s: \e39c,
  cur-zar: \f208,
  cur-zar-s: \e208,
);
