@import "variables";

@font-face {
  font-family: "beacons";
  font-style: normal;
  font-weight: 400;
  src: url("#{$cw-font-path}/beacons.eot"); /* IE9 Compat Modes */
  src: url("#{$cw-font-path}/beacons.eot?#iefix") format("embedded-opentype"),
    url("#{$cw-font-path}/beacons.woff2") format("woff2"),
    url("#{$cw-font-path}/beacons.woff") format("woff"),
    url("#{$cw-font-path}/beacons.ttf") format("truetype");
}

.beacon {
  font-family: "beacons";
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

@each $name, $value in $beacons {
  .#{$name}:before {
    content: esc($value);
  }
}
